<mat-tab-group>
  <mat-tab label="Attendees">
    <app-subject-students [subjectId]="subjectId"></app-subject-students>
  </mat-tab>
  <mat-tab label="Course Info">
    <div *ngIf="subject">
      <h3>{{ subject.name }}</h3>
      <p>{{ subject.description }}</p>
      <p>Start: {{ subject.startDate }}</p>
      <p>End: {{ subject.endDate }}</p>
    </div>
  </mat-tab>
  <mat-tab label="Attendance (Camera/Manual)">
    <app-subject-attendance [subjectId]="subjectId"></app-subject-attendance>
  </mat-tab>
  <mat-tab label="Review & Submit Attendance">
    <app-subject-attendance-review [subjectId]="subjectId"></app-subject-attendance-review>
  </mat-tab>
</mat-tab-group> 