<app-navbar-student />
<div class="calendar-page">
  <h2 class="calendar-title">My Attendance Calendar</h2>
  <full-calendar [options]="calendarOptions"></full-calendar>

  <div class="calendar-details" *ngIf="selectedEvent">
    <ng-container *ngIf="selectedEvent.title !== 'No Lecture'; else emptyDay">
      <h3>{{selectedEvent.title}}</h3>
      <p><b>Date:</b> {{selectedEvent.date | date:'fullDate'}}</p>
      <p><b>Time:</b> {{selectedEvent.extendedProps.time}}</p>
      <p><b>Details:</b> {{selectedEvent.extendedProps.details}}</p>
    </ng-container>
    <ng-template #emptyDay>
      <h3>No Lectures</h3>
      <p>Date: {{selectedEvent.date | date:'fullDate'}}</p>
    </ng-template>
  </div>
</div>
